<!DOCTYPE html>
<html>
<head>
  <title>Angular</title>
  <link rel="stylesheet" type="text/css" href="bower_components/foundation/css/foundation.css">
</head>
<body>

<div ng-app="phoneApp">
  <script type="text/ng-template" id="zippy.html">
      <div class="pannel">
        <div ng-click="toggleContent()">{{title}}</div>
        <div ng-show="isContentVisible" ng-transclude></div>
      </div>
  </script>
  <div ng-controller="phoneCtrl">
  <input type="text" ng-model="model.title"/>
  <input type="text" ng-model="model.content"/>
  <zippy title="{{model.title}}">This content is : {{model.content}}</zippy>
   </div>
</div>

<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="main.js"></script>
</body>
</html>